.red {
    color:red;
}
.orange {
    color:orange;
}
.green {
    color:green
}
.yellow {
    color:yellow
}
.aqua {
    color:aqua
}
.black {
    color: black
}
.coral {
    color:coral
}
.aquamarine {
    color:aquamarine
}
.brown {
    color:brown
}
.lemonchiffon {
    color:lemonchiffon
}
.aliceblue {
    color:aliceblue
}
.antiquewhite {
    color:antiquewhite
}
.azure {
    color:azure
}
.cyan {
    color:cyan
}
.darkred {
    color:darkred
}
.dimgray {
    color:dimgray
}
.fuchsia {
    color:fuchsia
}
.norm size {
    font-size:100px
}
.blue {
    color:blue
}
.speccolor {
}